.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
  height: 60px;
}

.component-button.wide {
  width: 50%;
}

.component-button.wide button {
  border-radius: 30px;
  text-align: left;
  padding-left: 20px;
}

.component-button button {
  color: white;
  background-color: #333333;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
  border-radius: 60%;
  margin: 5px;
}

.component-button button:active{
  background-color: #737373;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: rgb(245, 146, 62);
  color: white;
}

.component-button.orange button:active{
  background-color: #fac88d;
}

.component-button.grey button {
  background-color: #bab8b8;
  color: black;
}

.component-button.grey button:active{
  background-color: #d9d9d9;
}
