.component-display {
  background-color: black;
  color: white;
  text-align: right;
  font-weight: 200;
  flex: 0 0 auto;
  width: 30%;
  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.component-display > div {
  font-size: 2.5rem;
  padding: 0.2rem 0.7rem 0.1rem 0.5rem;
}
